@font-face {
  font-family: "iconfont"; /* Project id 1972036 */
  src: url('iconfont.woff2?t=1625561865894') format('woff2'),
       url('iconfont.woff?t=1625561865894') format('woff'),
       url('iconfont.ttf?t=1625561865894') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbtn_delete_nor:before {
  content: "\e6e3";
}

.iconbtn_tuijian_nor:before {
  content: "\e6e4";
}

.iconicon_menu_pinglun:before {
  content: "\e6e5";
}

.iconbtn_zan_nor:before {
  content: "\e6e6";
}

.iconbtn_zan_sel:before {
  content: "\e6e7";
}

.iconbtn_pinglun_nor:before {
  content: "\e6e8";
}

.iconbtn_up:before {
  content: "\e679";
}

.iconbtn_down:before {
  content: "\e67d";
}

.iconicon_menu_sucai_nor1:before {
  content: "\e67c";
}

.iconicon_menu_fans_nor:before {
  content: "\e677";
}

.iconicon_menu_fabu_nor:before {
  content: "\e678";
}

.iconicon_menu_neirongliebiao_nor:before {
  content: "\e67a";
}

.iconicon_menu_tuwen_nor:before {
  content: "\e67b";
}

.iconicon_menu_neirongshenhe_nor:before {
  content: "\e676";
}

.iconicon_btn_tjsh:before {
  content: "\e674";
}

.iconicon_fans_female:before {
  content: "\e66a";
}

.iconicon_fans_android:before {
  content: "\e66c";
}

.iconicon_fans_male:before {
  content: "\e672";
}

.iconicon_fans_ios:before {
  content: "\e673";
}

.iconbtn_collect:before {
  content: "\e65d";
}

.iconbtn_collect_sel:before {
  content: "\e65e";
}

.icon_btn_addpic:before {
  content: "\e65f";
}

.iconbtn_del:before {
  content: "\e660";
}

.iconicon_btn_savesketch:before {
  content: "\e661";
}

.iconbtn_edit:before {
  content: "\e663";
}

.iconicon_data_ljfssl:before {
  content: "\e664";
}

.iconicon_data_tiaochulv:before {
  content: "\e665";
}

.iconicon_data_scsl:before {
  content: "\e666";
}

.iconicon_data_fssy:before {
  content: "\e667";
}

.iconicon_data_pjydsj:before {
  content: "\e668";
}

.iconicon_data_dianzan:before {
  content: "\e669";
}

.iconicon_data_tjzfl:before {
  content: "\e66b";
}

.iconicon_data_qxgzl:before {
  content: "\e66d";
}

.iconicon_tiaochulv_pjydjd:before {
  content: "\e66e";
}

.iconicon_data_zydl:before {
  content: "\e66f";
}

.iconicon_data_twfbl:before {
  content: "\e670";
}

.iconicon_data_pll:before {
  content: "\e671";
}

.iconicon_pic:before {
  content: "\e675";
}

.iconicon_menu_shenhe_nor1:before {
  content: "\e64b";
}

.iconicon_btn_query1:before {
  content: "\e64f";
}

.iconicon_btn_pass:before {
  content: "\e64a";
}

.iconicon_btn_add:before {
  content: "\e64c";
}

.iconicon_btn_reject:before {
  content: "\e64d";
}

.iconicon_btn_reset:before {
  content: "\e64e";
}

.iconicon_menu_minganci_nor:before {
  content: "\e649";
}

.iconbtn_top_quite:before {
  content: "\e643";
}

.iconicon_menu_user_nor:before {
  content: "\e644";
}

.iconicon_menu_home_nor:before {
  content: "\e645";
}

.iconicon_menu_pindao_nor:before {
  content: "\e647";
}

.iconicon_menu_neirong_nor:before {
  content: "\e648";
}

